.permanent-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primaryBgColor;

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.permanent-clients-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: $titleTextColor;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 50px;
  }
}
