.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-link {
  @media screen and (min-width: 768px) {
    color: $titleTextColor;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.navigation-button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  .item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}

.studio {
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    color: $accentColor;

    &::after {
      content: "";
      display: block;
      position: absolut;
      margin-top: 28px;
      width: 48px;
      height: 4px;
      border-radius: 2px;
      background-color: $accentColor;
    }
  }
}

.portfolio {
  padding-bottom: 0;
  color: $accentColor;

  &::after {
    content: "";
    display: block;
    position: absolut;
    margin-top: 28px;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
  }
}

.item {
  position: relative;
}
